@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --grid-size: min(70vw, 70vh);
}
html{
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    box-sizing: border-box;
    background-color: black;
    color: white;
    max-width: calc(1.7 * var(--grid-size));
    height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 2vmin;
    font-family: 'Chakra Petch', sans-serif;
    
    border: px solid red;
}

#mainTitle{
    display: flex;
    margin-right: 1rem;
    border-radius: 2vmin;
    border: 1vmin solid #2ff8ff
}

#mainText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    
    border: 0px solid red;
}

img{
    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
} 

#mainImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%; 
    padding: 1re;
    margin: 0; 
    
    border: px solid #38ff00;
}

.division,
.section{
    display: flex;    
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.section{
    flex-direction: column;
}

button{
    box-sizing: border-box;
    background-color: rgb(55 63 115);
    color:  white;
    padding: 1vmin;
    margin: 1vmin;
    font-size: 1.6vmin;
    overflow: hidden;
}

.penMode{
    width: 40%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmin;
    width: 88%;
    height: 4vmin;
    margin: 1vmin;
    border-radius: 2vmin;
    border: .6vmin solid #2ff8ff;
}

#colTitle{
    margin-top: 3vmin;
    margin-bottom: 2vmin;
}

#penTitle,
#gridOpTitle{
    margin-top: 4vmin;
    
}

#leftSect{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1vmin;
}

#colors{
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  
    border: px dashed #c21dd7;
}

#pens{
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
  
    border: px dashed #dea7bb;
}

#buttons{
    flex-wrap: wrap;
}

.colorMod{
    display: flex;
    box-sizing:border-box;
    gap: 1vmin;
    border: px solid cyan;
    width: 90%;
    margin: 1vmin 1vmin;

    border: px dashed #22a7d2;
}


input[type="color"] {
    width: 100%;
    height: 6vmin;
    margin-right: 3vmin;
}

#penPick{
    border-radius: 0px; 
}

label{
    text-align: center;
    font-size: 2.2vmin;
    width: 70%;
}

#properties,
#grid{
    width: var(--grid-size);
    border: px dashed #00ff0c;
}

#properties{
    flex-wrap: wrap;
    padding: 2vmin;
}

#gridSize{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

.gridMode{
    width: 40%;
}

#clear,
#classic{
    width: 84%;
}

#grid{
    display: grid;
    grid-template-columns: repeat(var(--gridRes), 1fr);
    grid-template-rows: repeat(var(--gridRes), 1fr);
    height: var(--grid-size);
    padding: 1vmin;
    margin: 0;
    align-items: stretch;
    justify-items: stretch;
    background-color: rgb(97 97 97);
    border: vmin solid #2ff8ff
}

#grid:hover {
    cursor: crosshair;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0 0 0);
    color: white;
    border: 2px solid white; 
}

.pixel{
    border:  .1px dotted rgb(204 204 204);
    background-color: rgb(230, 230, 230);
}

#sizeButtons{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: px solid cyan;
    justify-content: center;
}

.sizeButton{
    background-color: #696969;
    color: white;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  appearance: none; /* Remove default styles for other browsers */
  height: 1vmin;
  background: #d3d3d3;
  border-radius: 5px;
}