@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --grid-size: min(70vw, 70vh);
}
html{
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    box-sizing: border-box;
    background-color: black;
    color: white;
    max-width: calc(1.7 * var(--grid-size));
    height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    
    border: 4px solid red;
}


.division,
.section{
    display: flex;    
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.section{
    flex-direction: column;
}

button{
    box-sizing: border-box;
    background-color: rgb(187 205 187);
    padding: 1vmin;
    margin: 1vmin;
    font-size: 1.5vmin;
    overflow: hidden;
}

.penMode{
    width: 40%;
}

#colors{
    padding: 1vmin;
    flex-wrap: wrap;

    border: 3px dashed #dea7bb;
}

#buttons{
    flex-wrap: wrap;
}

.colorMod{
    display: flex;
    box-sizing:border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1vmin;
    padding: 1vmin;
    border: 2px solid cyan;
    width: 40%;
    height: 15vmin;
    
}

input[type="color"] {
    width: 10vmin;
    height: 6vmin; 
}

#penPick{
    border-radius: 0px; 
}

label{
    text-align: center;
    font-size: 2.2vmin;
    
}

#properties,
#grid{
    width: var(--grid-size);
    margin-right: 3vmin;

    border: 2px dashed #00ff0c;
}

#properties{
    flex-wrap: wrap;
    padding: 3vmin;
    align-self: flex-end;
}

#gridSize{
    margin: 1vmin;
    width: 100%;
    text-align: center;
}

.gridMode{
    width: 40%;
}

#clear,
#classic{
    width: 84%;
}

#grid{
    display: grid;
    grid-template-columns: repeat(var(--gridRes), 1fr);
    grid-template-rows: repeat(var(--gridRes), 1fr);
    height: var(--grid-size);
    padding: 1vmin;
    align-items: stretch;
    justify-items: stretch;
    background-color: rgb(97 97 97);
    border: px solid rgb(30 30 30);
}

#grid:hover {
    cursor: crosshair;
}

button:hover{
    cursor: pointer;
    background-color: rgb(0 0 0);
    color: white;
    border: 2px solid white; 
}

.pixel{
    border:  .1px dotted rgb(204 204 204);
    background-color: rgb(230, 230, 230);
}


#sizeSlider {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 2px solid yellow;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  appearance: none; /* Remove default styles for other browsers */
  height: 1vmin;
  background: #d3d3d3;
  border-radius: 5px;
}






